<nav class="navbar navbar-dark navbar-expand bg-dark">
    <a href="" class="navbar-brand">
        Movie Search
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li  class="nav-item">
                <a routerLink="" class="nav-link">Movies</a>
            </li>
            <li class="nav-item">
                <a routerLink="watchList" class="nav-link">Watch List</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="auth"  class="nav-link">Log In/sign Up</a>
            </li>
        </ul>
    </div>
</nav>