footer{
    background-color: #343a40;
    color: var(--secondry-color);
    font-weight: bold;
    position: absolute;
    bottom: -100;
    left: 0;
    width: 100%;
}
a{
    color: var(--secondry-color);

}
a:hover{
    color: darkblue;

}