<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-md-8">
            <form action="#" class="form-row">
                <div class="col-sm-6 col-lg-7 col-xl-8 mb-2">
                    <input type="text" class="form-control" id="title" name="title"
                        placeholder="type movie or series title" [(ngModel)]="title" (input)="search()">
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                    <select name="tyoe" id="type" class="form-control" [(ngModel)]="type" (change)="search()">
                        <option value="all">all</option>
                        <option value="movie">movie</option>
                        <option value="series">series</option>
                        <option value="game">game</option>
                    </select>
                </div>
                <div class=" col-6 col-sm-3 col-xl-2">
                    <input type="number" class="form-control" id="year" name="year" placeholder="all years" min="1888"
                        [(ngModel)]="year"
                        (input)="search()">
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3>
                {{ message }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 my-4" *ngFor="let movie of movies">
            <app-movie [movie]="movie"></app-movie>
        </div>
    </div>
    <div class="row" *ngIf="!message">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled':currentPage===1}">
                        <a class="page-link" aria-label="Previous" (click)="prevPage()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let i of paginationMaker()" routerLinkActive="active"><a
                            class="page-link" [routerLink]="['']" [queryParamsHandling]="'merge'"
                            [queryParams]="{page:i}">{{ i }}</a></li>
                    <li class="page-item" *ngIf="pages>this.currentPage+5"><a class="page-link">....</a></li>
                    <li class="page-item" *ngIf="pages>this.currentPage+4"><a class="page-link" [routerLink]="['']"
                            [queryParams]="{title:this.title,page:pages}">{{ pages }}</a></li>
                    <li class="page-item" [ngClass]="{'disabled':currentPage===pages}">
                        <a class="page-link" aria-label="Next" (click)="nextPage()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>