:root{
    --primary-color:#333;
    --secondry-color:#bbb;
}
body{
    background-color:var(--primary-color);
    color:var(--secondry-color);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    cursor: pointer;
}