<a (click)=navigate($event)>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-sm-6">
                <img class="card-img" [src]="movie.poster" alt="{{ movie.title }} poster">
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <h4 class="card-title">{{ movie.title }} {{ movie.year }}</h4>
                    <p class="car-text">{{ movie.type }}</p>
                    <button class="btn btn-dark btn-sm" (click)="toggletoList()">{{ added ? 'remove from watchlist' : 'Add to watchlsit' }}</button>
                </div>
            </div>
        </div>
    </div>
</a>
